/* CSS file for delivery.html */

body, p
{
	border: 0;
	font-family: Georgia, 'Times New Roman', Times, Serif;
	font-size: .9em;
	text-transform: lowercase;
	word-spacing: .3em;
}

h1
{
	color: #666666;
	text-decoration: none;
	font-weight: normal;
	letter-spacing: .2em;
}

img
{
	border: 1px solid #666666;
}

a:link
{
	color: #669999;
	text-decoration:none;
}

a:visited
{
	color: #669999;
	text-decoration:none;
}

a:hover
{
	color: #FFCC66;
	text-decoration:none;
}

#total
{
	font-weight: bold;
	background-color: #ffffff;
	width: 200px;
}

#container
{
	text-align:center;
	margin: 0 auto;
}

#header
{
	text-align:center;
	vertical-align: top;
	background-color: transparent;
}

#dataEntry
{
	background-color: #666666;
	color: #FFFFCC;
	width: 350px;
	height: 120px;
	text-align:center;
	border-style: dotted;
	border-width: 1px;
	margin: 0px auto;
	padding: 10px 10px 10px 10px;
}

#resultBox
{
	color: #666666;
	width: 350px;
	height: 250px;
	background-color: transparent;
	text-align:center;
	border-style: dotted;
	border-width: 1px;
	margin: 0px auto;
	padding: 10px 10px 10px 10px;
}